

.btn-purple {
    background-color: #210070;
    color: #fff;
}

.btn-purple:hover {
    background-color: #000259;
    color: #fff;
    transition: 0.05s;
}

.btn-find {
    background-color: #0a0028;
    color: white;
}

.btn-find:hover {
    background-color: #0f2028;
    color: white;
    transition: 0.05s;
}

.btn-reset {
    background-color: #00e0d0;
    color: white;
    transition: 0.05s;
}

.btn-reset:hover {
    background-color: #00f9e9;
    color: #fff;
    transition: 0.05s;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Top Header */
.top-header {
    background-color: #210070; /* Background color */
    color: white;
}

.top-header .social-icons a {
    margin: 0 10px;
    display: inline-block;
    font-size: 16px; /* Adjust the size of icons */
}

.top-header .social-icons a:hover {
    color: #ddd; /* Hover effect for the icons */
}

/* Navbar Icons Styling */
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 500;
}
.navbar-icons a {
    font-size: 20px; /* Adjust icon size */
    margin-left: 20px; /* Space between icons */
}

.navbar-icons a:hover {
    color: #ddd; /* Hover effect for icons */
}

.navbar-brand img {
    max-width: 160px; /* Adjust logo size */
}

.navbar-nav .nav-link.active {
    color: #00e0d0; /* Change active link text color */
    position: relative;
}

.navbar-nav .nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%; /* Adjust width to control the length of the underline */
    height: 3px; /* Adjust thickness of the underline */
    background-color: #00e0d0; /* Match color to the active link text */
    left: 0%; /* Center the underline under the text */
    bottom: -5px; /* Position the underline a little below the text */
    border-radius: 5px; /* Optional: make the underline slightly rounded */
}


.hero-section {
    background: linear-gradient(180deg, rgba(18, 255, 205, 0.4) 0%, #146CEF 200%);
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    min-height: 70vh;
}


.hero-text h3 {
    font-size: 20px;
    font-weight: bold;
    color: #787878;
}

.hero-text h2 {
    font-size: 36px;
    font-weight: bold;
    color: #210070;
}

.hero-text p {
    font-size: 18px;
    color: #8c8c8c;
    margin-bottom: 30px;
}

.chassis-form {
    background: linear-gradient(180deg, rgba(18, 255, 205, 0.4) 0%, #146CEF 100%);
    display: flex;
    flex-direction: column;
}

.chassis-form label {
    font-size: 18px;
    color: #210070;
    text-align: center;
}

.chassis-input {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    gap: 10px;
}


.car-image {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.hero-section::before {
    width: 400px;
    height: 400px;
    top: 50px;
    left: 60%;
}

.hero-section::after {
    width: 200px;
    height: 200px;
    bottom: 80px;
    right: 15%;
}



.report-section p {
    font-size: 19px;
    color: #210070;
    font-weight: 500;
}

.pricing {
    background: linear-gradient(180deg, rgba(18, 255, 205, 0.4) 0%, #146CEF 100%);
}


.pricing .card {
    border: none;
    background-color: #f1faff;
    margin: 40px 0;
}

.pricing .card .card-body h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #210070;
}

.pricing .report-price {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #210070;
}

.pricing .price-save {
    background: linear-gradient(180deg, rgba(18, 255, 205, 0.3) 0%, #146CEF 100%);
    color: #210070;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

.pricing .report-nums {
    color: #210070;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

/* FAQ Section Styling */
.faq-section {
    padding: 40px;
}

.faq-heading {
    font-size: 32px;
    font-weight: bold;
    color: #210070;
}

/* FAQ Section Styling */
.faq-section {
    border-radius: 8px;
    padding: 40px;
}

.faq-heading {
    font-size: 32px;
    font-weight: bold;
    color: #210070;
}

.accordion-item {
    border: none;
    background-color: #f7f4ff;
    margin-bottom: 15px; /* Add bottom space after each accordion item */
}

.accordion-header {
    background-color: white;
}

/* Accordion Button Styling */
.accordion-button {
    background-color: white;
    color: #210070;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-button:not(.collapsed) {
    background-color: #210070;
    color: white;
}

/* White arrow icon when active */
.accordion-button:not(.collapsed)::after {
    color: white!important;
}

.accordion-button.collapsed {
    color: #210070;
    background-color: white;
}

.accordion-button::after {
    color: #210070;
}

/* Accordion Body Styling */
.accordion-body {
    padding: 15px;
    background-color: #210070;
    font-size: 16px;
    color: #fff;
    border-top: none !important; /* Remove divider between title and body */
}

/* Remove border between accordion items */
.accordion-collapse {
    border: none !important;
}


/*.accordion-button:hover {*/
/*    background-color: #00e0d0;*/
/*    color: white;*/
/*}*/

.blog {
    background-color: #f5f8fa;
    padding: 50px 0;
}

.blog-title {
    font-weight: bold;
    color: #300080;
}

.blog-subtitle {
    margin: auto;
    margin-bottom: 40px;
    color: gray;
    width: 35%;
}

.blog-featured {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensures the image and content are the same height */
    padding-left: 15px;
    margin-bottom: 30px;
}

.featured-content {
    width: 30%; /* Adjust width as needed */
}

.featured-img-container {
    width: 70%; /* Adjust width to your liking */
}

.featured-img {
    height: 100%; /* Makes the image match the height of the content */
    width: 100%;
    object-fit: cover; /* Ensures the image covers the available space */
}

.blog-featured-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.blog-featured-description {
    color: #666;
}

.blog-read-more {
    display: inline-block;
    margin-top: 10px;
    color: #300080;
    text-decoration: none;
    font-weight: bold;
}

.blog-read-more:hover {
    text-decoration: underline;
}

.blog-small-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.blog-small-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.blog-small-description {
    color: #666;
}

.btn-blog {
    background-color: #300080;
    border-color: #300080;
    border-radius: 0;
    color: #fff;
    min-width: 150px;
}

.btn-blog:hover {
    background-color: #452a9b;
    border-color: #452a9b;
    color: #fff;
}

footer {
    background-color: #210070; /* Dark blue background */
    color: #f5f8fa; /* White text */
    padding-top: 20px;
}

footer img {
    margin-bottom: 1rem;
    width: 60%;
}

footer ul {
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: #f5f8fa;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ccc;
}

footer .list-inline-item a {
    color: #f5f8fa;
    font-size: 18px;
}

footer .list-inline-item a:hover {
    color: #ccc;
}

footer img.img-fluid {
    max-width: 50px;
    margin-right: 20px;
}

footer .footer-cont {
    margin: 0;
    font-size: 14px;
    width: 70%;
}

footer .mobile-view-social-medias{
    display: none;
}

footer ul li a i {
    color: #f5f8fa;
}

footer .copyright {
    background-color: #787878;
}

